<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% if defined?(document) %><%= document.path %> | <%= document.repo.nwo %> | <% end %>Redliner</title>

    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/codemirror/lib/codemirror.css">
    <script src="/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/vendor/codemirror/addon/mode/overlay.js"></script>
    <script src="/vendor/codemirror/mode/markdown/markdown.js"></script>
    <script src="/vendor/codemirror/mode/gfm/gfm.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= template %>">
    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
